<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profesor.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='../static/img/escudo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>
<nav class="navbar">
    <a href="/">
        <div class="logo">
            <img src="../../static/img/escudo.png" alt="Logo de la Escuela Metropolitana">
        </div>
    </a>
    
   <div class="nav-links">
        <button onclick="window.location.href='/administracion'">Administración</button>
        <button onclick="window.location.href='/'">Salir</button>
    </div>
</nav>

    
<body id="fondo">
    <div class="titulo text-center">
        <h1 class="titulos">Administración de alumnos</h1>
    </div>

    
</body>
    <footer>
        {% include "shared/footer.html" %}
    </footer>



